<!doctype html>

<html lang="en">

<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<title>Skyblue Webmail :: Welcome to Skyblue Webmail</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, maximum-scale=1.0">
	<meta name="theme-color" content="#f4f4f4">
	<meta name="msapplication-navbutton-color" content="#f4f4f4">
	<link rel="apple-touch-icon" sizes="180x180" href="../assets/img/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../assets/img/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="../assets/img/favicon/favicon-16x16.png">
	<link rel="icon" href="../assets/img/favicon/favicon.ico">
	<link rel="manifest" href="../assets/img/favicon/site.webmanifest">

	<link rel="stylesheet" href="skins/elastic/deps/bootstrap.min.css?s=1725175902">
	<link rel="stylesheet" href="skins/elastic/styles/styles.min.css?s=1732910003">

	<script>
		try {
			if (document.cookie.indexOf('colorMode=dark') > -1
				|| (document.cookie.indexOf('colorMode=light') === -1 && window.matchMedia('(prefers-color-scheme: dark)').matches)
			) {
				document.documentElement.className += ' dark-mode';
			}
		} catch (e) { }
	</script>

	<link rel="stylesheet" type="text/css" href="plugins/jqueryui/themes/elastic/jquery-ui.min.css?s=1725175896">
	<script src="program/js/jquery.min.js?s=1725175899"></script>
	<script src="program/js/common.min.js?s=1725175896"></script>
	<script src="program/js/app.min.js?s=1732904599"></script>
	<script src="program/js/jstz.min.js?s=1725175900"></script>
	<script>

		var rcmail = new rcube_webmail();
		rcmail.set_env({ "task": "login", "standard_windows": false, "locale": "en_US", "devel_mode": null, "rcversion": 10609, "cookie_domain": "", "cookie_path": "/", "cookie_secure": true, "dark_mode_support": true, "skin": "elastic", "blankpage": "skins/elastic/watermark.html", "refresh_interval": 60, "session_lifetime": 600, "action": "", "comm_path": "/login/?_task=login", "user_id": "EN7CMjBYj4TZLOzD", "compose_extwin": false, "date_format": "yy-mm-dd", "date_format_localized": "YYYY-MM-DD", "request_token": "IAB7RDzHvwhg3bC3kmR3smNyIL5SbBba" });
		rcmail.add_label({ "loading": "Loading...", "servererror": "Server Error!", "connerror": "Connection Error (Failed to reach the server)!", "requesttimedout": "Request timed out", "refreshing": "Refreshing...", "windowopenerror": "The popup window was blocked!", "uploadingmany": "Uploading files...", "uploading": "Uploading file...", "close": "Close", "save": "Save", "cancel": "Cancel", "alerttitle": "Attention", "confirmationtitle": "Are you sure...", "delete": "Delete", "continue": "Continue", "ok": "OK", "back": "Back", "errortitle": "An error occurred!", "options": "Options", "plaintoggle": "Plain text", "htmltoggle": "HTML", "previous": "Previous", "next": "Next", "select": "Select", "browse": "Browse", "choosefile": "Choose file...", "choosefiles": "Choose files..." });
		rcmail.display_message("You have successfully terminated the session. Goodbye!", "notice", 0);
		rcmail.gui_container("loginfooter", "login-footer"); rcmail.gui_object('loginform', 'login-form');
		rcmail.gui_object('message', 'messagestack');
	</script>

	<script src="plugins/jqueryui/js/jquery-ui.min.js?s=1725175896"></script>
	<link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
	<link rel="stylesheet" href="../assets/css/owl.carousel.min.css">
	<link rel="stylesheet" href="../assets/css/flaticon.css">
	<link rel="stylesheet" href="../assets/css/price_rangs.css">
	<link rel="stylesheet" href="../assets/css/slicknav.css">
	<link rel="stylesheet" href="../assets/css/animate.min.css">
	<link rel="stylesheet" href="../assets/css/magnific-popup.css">
	<link rel="stylesheet" href="../assets/css/fontawesome-all.min.css">
	<link rel="stylesheet" href="../assets/css/themify-icons.css">
	<link rel="stylesheet" href="../assets/css/slick.css">
	<link rel="stylesheet" href="../assets/css/nice-select.css">
	<link rel="stylesheet" href="../assets/css/toast.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/login.css">
	<link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet'>
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

</head>

<body class="task-login action-none">
	<header>
		<div class="header-area header-transparrent">
			<div class="headder-top header-sticky">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-lg-3 col-md-2">
							<div class="logo">
								<a href="https://jobs.skyblue.co.in/"><img class="logo_img" src="../assets/img/logo.png"
										alt=""></a>
							</div>
						</div>


						<div class="col-lg-9 col-md-9">
							<div class="menu-wrapper">
								<div class="main-menu">
									<nav class="d-none d-lg-block">
										<ul id="navigation">
										</ul>
									</nav>
								</div>
								<div class="phone-support-text">
									For support contact
									<p class="mobile-no"> +91 8940570614</p>
								</div>
							</div>
						</div>
						<div class="col-12">
							<div class="mobile_menu d-block d-lg-none"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<h1 class="voice">
		<roundcube:object name="productname" />
		<roundcube:label name="login" />
	</h1>

	<div id="layout-content" class="selected no-navbar" role="main" autocomplete="new-password">
		<roundcube:form id="login-form" name="login-form" method="post" class="propform" autocomplete="new-password">
			<h3 class="login"><strong>LOGIN</strong></h3>
			<input type="hidden" name="_task" value="login"><input type="hidden" name="_action" value="login"><input
				type="hidden" name="_timezone" id="rcmlogintz" value="_default_"><input type="hidden" name="_url"
				id="rcmloginurl" value="" autocomplete="new-password">
			<table>
				<tbody>
					<tr>
						<td class="title"><label for="rcmloginuser">Username</label></td>
						<td class="input"><input name="_user" id="rcmloginuser" required size="40" class="form-control"
								autocapitalize="off" autocomplete="off" value="" type="text"
								autocomplete="new-password"></td>
					</tr>
					<tr>
						<td class="title"><label for="rcmloginpwd">Password</label></td>
						<td class="input"><input name="_pass" id="rcmloginpwd" required size="40"
								class="form-control password" autocapitalize="off" autocomplete="off" type="password"
								autocomplete="new-password"></td>
					</tr>
				</tbody>
			</table>
			<p class="formbuttons">
				<button type="submit" id="" class="btn">Login</button>
			<div style="margin-top: -10px; text-align: end; margin-right: 10px; cursor: pointer; margin-bottom: -10px;">
				Forgot password</div>
			</p>

			<p>

				<button onclick="openPrice()" type="submit" id="btn-cr">Create an account</button>

			</p>

			<script>

				function openPrice() {
					var link = document.createElement('a');
					link.href = "https://skyblue.co.in/login/";
					link.target = "_blank"; // Opens the link in a new tab
					link.click();
				}
			</script>


			<div id="login-footer" role="contentinfo">
				<roundcube:object name="productname" condition="config:display_product_info &gt; 0" />
				<roundcube:object name="version" condition="config:display_product_info == 2" />
				<roundcube:if condition="config:support_url" />
				&nbsp;&bull;&nbsp; <a href="<roundcube:var name='config:support_url' />" target="_blank"
					class="support-link">
					<roundcube:label name="support" />
				</a>
				<roundcube:endif />
				<roundcube:container name="loginfooter" id="login-footer" />
			</div>
			</form>
	</div>

	<noscript>
		<p class="noscriptwarning">
			<roundcube:label name="noscriptwarning" />
		</p>
	</noscript>

	<roundcube:include file="includes/footer.html" />



	<!-- @licstart  The following is the entire license notice for the 
        JavaScript code in this page.

        Copyright (C) The Roundcube Dev Team

        The JavaScript code in this page is free software: you can redistribute
        it and/or modify it under the terms of the GNU General Public License
        as published by the Free Software Foundation, either version 3 of
        the License, or (at your option) any later version.

        The code is distributed WITHOUT ANY WARRANTY; without even the implied
        warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
        See the GNU GPL for more details.

        @licend  The above is the entire license notice
        for the JavaScript code in this page. -->